
* {
    font-family: 'Gentium Book Basic', serif;
}


body {
    background-color: #131316 !important;
    padding: 0;
    margin: 0;
    font-family: 'Gentium Book Basic', serif;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

section {
    display: grid;
    place-items: center start;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blue(5px);
    transform: translateX(-100%);
    transition: all 5s;
}

.logos {
    display: flex;
}

.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}



.show {
    opacity: 1;
    filter: blue(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #9f924b;
}

#mainNavbar .navbar-brand {
    color: #9f924b;
    font-size: 1.5rem;
}

.navbar {
    background: #20201d
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28159, 146, 75, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
  }
  

  .navbar-light .navbar-toggler {
    border-color: #9F924B !important;
}

.container {
    background-color: transparent;
}

#coinlogo {
    height: 65px;
}

h1 {
    color: #a37930;
    position: relative;
}

h2 {
    color: #a37930;
}

.line {
    border-bottom: 2px solid #a37930 !important;
    display: inline
}

p {
    color: #777574;
    text-align: left;
}

.center {
    text-align: center;
    border: 3px solid green;
  }

.firstsection {
    padding: 0 100px;
    background: url("originalimages/marcusbackground2.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
}

.secondsection {
    background: url("originalimages/familybackground.png");
    height: 100vh;
    background-repeat: no-repeat;

    margin-top: 200px;
    justify-content: center;
    background-size: contain;
}
